.project-card a,
.project-card a:active,
.project-card a:visited {
  color: rgb(37, 106, 129);
}

.project-card a:hover {
  color: rgb(23, 59, 80);
}

/*
  ========================================
  Projects Page
  ========================================
*/

.projects-container {
  margin-top: 3rem;
  padding-bottom: 3.5rem;
  display: flex;
  flex-flow: row wrap;
  gap: 2rem;
}

.project-card {
  flex-basis: 30%;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 0.8rem;
}

.project-card > img {
  width: 100%;
  height: 8rem;
  object-fit: contain;
}

.projects-link {
  font-size: 1.2rem;
  font-weight: 900;
}

.projects-link:hover {
  color: brown;
}

.projects-list {
  width: 80%;
  line-height: 1.5rem;
}

.projects-list > li {
  list-style-type: disc;
  list-style-position: inside;
  text-indent: -1rem;
  padding-left: 1rem;
}

.github-image {
  height: 2.5rem;
}

.git-link {
}

/*
  ========================================
  Media Query
  ========================================
*/

@media (max-width: 768px) {
  .projects-container {
    margin-top: 1.8rem;
    padding-left: 1.8rem;
  }

  .projects-list {
    width: 100%;
    line-height: 1.5rem;
  }

  .project-card {
    flex-basis: 100%;
  }
}
